// Make sure to use only "DOUBLE QUOTES" throughout your SCSS

// ##### ################## BEGIN SETTINGS #########################
$color: rgba(255, 255, 255, 1); // Widget color and transparancy   #
$x: 10px; // X Position                                            #
$y: 10px; // Y Position                                            #
$width: 455px; // Width                                            #
// ######################## BEGIN SETTINGS #########################

#{{widgetName}}-widget-index-js {
    top: $x;
    left: $y;
    width: $width;
    color: $color;
    text-align: center;
}

.{{widgetName}}-widget {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
}

#epoch-time {
    content: " ";
    width: 100px;
    height: 50px;
    margin-left: -50px;
    background-image: url("{{widgetName}}.widget/images/clear-day.png");
    background-size: contain;
}

.prepare-loading {
    transition: opacity 0.5s;
}

.loading {
    opacity: 0;
}
